<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.available_video_players">

    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="video/*" />
        </intent>
    </queries>
</manifest>
